.clickable-edge {
    position: absolute;
    height: 100%;
    top: 0;
    cursor: pointer;
    z-index: 10;
  }
  #left-edge {
    left: 0;
    width: 13%;
  }
  #right-edge {
    right: 0;
    width: 87%;
  }
